<html>
  <head>
    <title>Grocery Store App</title>
    <link rel="stylesheet" href="../static/customer.css" />
  </head>
  <body>
    <div class='ripple-background'>
      <div class='circle xxlarge shade1'></div>
      <div class='circle xlarge shade2'></div>
      <div class='circle large shade3'></div>
      <div class='circle mediun shade4'></div>
      <div class='circle small shade5'></div>
    </div>
    
    <h1>Hey, Hope you are doing well!</h1>
    <h2>
      Amidst the COVID-19 crisis, we brought this platform for people to buy
      groceries at ease with youth volunteers
    </h2>
    <div class="container">
      <form action="">
        <div class="col-25">
          <label for="name">Enter your name:</label>
        </div>
        <div class="col-75">
          <input type="text" name="name" id="name" /><br />
        </div>
        <div class="col-25">
          <label for="address">Enter your address:</label>
        </div>
        <div class="col-75">
          <input type="text" name="address" id="address" /><br />
        </div>
        <div class="col-25">
          <label for="item">Enter the item you wish to buy:</label>
        </div>
        <div class="col-75">
          <input type="text" name="item" id="item" /><br />
        </div>

        <div class="col-25">
          <label for="quantity">Enter the quantity or nos. of the item</label>
        </div>
        <div class="col-75">
            <input type="number" /><br /><br />
        </div>
        <div class="col-25">
          <label for="option">Select an option:</label><br />
        </div>
        <div class="col-75">
          <input type="radio" id="quantity" />Kg 
          <input type="radio" id="quantity" />Nos <br /><br />
        </div>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
